h2{
    color: #FCFEFE;
    background-color: #3363FF;
    height: 33px;
    font-size: 0.90cm
}

video{
    width: 500px;
    height: 405px;
    float: right;
}

h3{
    font-size: 0.80cm;
}
